@charset "utf-8";
/*统一设置*/
* {
	margin: 0;
	padding: 0;
}
ul,li {
	list-style-type: none;
}
.logo {
	width: 320px;
	height: 238px;
	padding: 22px 0 16px;
	margin: 0 auto;
}
.logo img {
	width: 320px;
	height: 238px;
	display: block;	
}
.liji{
	width: 230px;
	height: 46px;
	display: block;
	margin: 0 auto;
}
.liji img {
	width: 230px;
	height: 46px;
	display: block;
	
}
.tishi {
	color: #87949f;
	font-size: 12px;
	text-align: center;
	padding: 10px 0 35px;
}
.zhuti {
	width: 320px;
	margin: 0 auto;
	display: block;
	
}
/*列表*/
.list{
	width: 320px;
	margin: 0 auto;
	padding: 31px 0 14px;
	
	
}
.list li {
	padding-left: 44px;
	padding-bottom: 16px;
	overflow: hidden;
}
.list li img {
	float: left;
	width: 64px;
	height: 64px;
	display: block;
}
.biaoti {
	float: left;
	padding-left: 14px;
}
.biaoti h1 {
	font-size: 13px;
	font-weight: normal;
	padding: 14px 0 11px;
}
.biaoti p {
	font-size: 11px;
	color: #87949f;
}
/*网页的底部*/
footer {
	font-size: 10px;
	color: #87949F;
	text-align: center;
	padding: 10px 0;
	line-height: 1.5em;
	background: #f9f9f9;
}
